.productSearchBox {
  input {
    height: 30px;
    width: 100%;
    border: 1px #3CB914 solid;
    padding: 5px;
    &:focus {
      background-color: unset;
      border: unset;
    }
  }
  i {
    color: #fff;
  }
  button {
    background-color: #3CB914;
    height: 30px;
    width: 40px;
    border: 1px transparent solid;
  }
  button:hover {
    background-color: #3CB914;
    height: 30px;
    width: 40px;
    border: 1px transparent solid;
  }
  form {
    box-sizing: border-box;
    display: flex;
  }
}
